<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
        <nav class="nav">
            <a class="nav" href="{{ url_for('profile.profile')}}">PROFILE</a>
            <a class="nav">{{address}}</a>
            <form class="nav" action="./search/">
                <input type="search" id="restaurant" name="q"/>
                <button type="submit">Search</button>
            </form>
            <a class="nav">FILTER</a>
        </nav>
        <div class="restaurant-list">
            {% for restaurant in restaurants %}
            <div class="restaurant-item">
                <a href="{{ url_for('menu.menu', restaurant_name=restaurant.name) }}">
                    <h2>{{ restaurant.name }}</h2>
                    <p>{{ restaurant.address }}</p>
                    <p> {{ restaurant.phone_number }} </p>
                </a>
            </div>
            {% endfor %}
            <a href="{{ url_for('cartpage.cartpage')}}">CART</a>
        </div>
    </body>
</html>