<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    <body>
        <nav class="nav">
            <a class="nav">PROFILE</a>
            <a class="nav">*SOME ADDRESS*</a>
            <form class="nav" action="./search/">
                <input type="search" id="restaurant" name="q"/>
                <button type="submit">Search</button>
            </form>
        </nav>
        <div>
            <div>

            </div>
        </div>
    </body>
</html>