<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>Login</h1>
            <form method="post" action="/login">
                <div>
                    <label>Username</label>
                    <input type="text" name="username" value="{{request-form['username']}}"></input>
                </div>
                <br>
                <div>
                    <label>Password</label>
                    <input type="text" name="password" value="{{request-form['password']}}"></input>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>

</html>