.nav {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.restaurant-list {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.restaurant-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    transition: background 0.3s;
}

.restaurant-item:hover {
    background: #f9f9f9;
}

.menu-navbar {
    display: inline-block;
    vertical-align: center;
    padding-left: 88px;
    padding-right: 88px;
    border: 1px solid #ddd;
}

.menu-nav {
    display: inline-block;
    vertical-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-right {
    padding-left: 600px;
}

.cart-item{
    border: 1px solid #ddd;
    padding: 10px;
}
.container {
    display: inline-block;
}

.box {
    border: 1px solid #ddd;
    padding-left: 10px
}

