.nav {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.restaurant-list {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.restaurant-item {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    transition: background 0.3s;
}

.restaurant-item:hover {
    background: #f9f9f9;
}

.menu-navbar {
    display: inline-block;
    vertical-align: center;
    padding-left: 88px;
    padding-right: 88px;
    border: 1px solid #ddd;
}

.menu-nav {
    display: inline-block;
    vertical-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-right {
    padding-left: 600px;
}

<<<<<<< Updated upstream
.cart-item{
    border: 1px solid #ddd;
    padding: 10px;
}
.container {
    display: inline-block;
}

.box {
    border: 1px solid #ddd;
    padding-left: 10px
=======
.delete-from-cart {
    padding-left: 450px;
}

.cart-list {
    border: 1px solid #ddd;
>>>>>>> Stashed changes
}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 2px 5px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
  }

