<!DOCTYPE html>
<html>
    <head>
        <title>Cart Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>Cart</h1>
            <h3>{{msg}}</h3>
            <h1>{{ restaurant.name }} Cart</h1>
            <div class="cart-list"> 
                {% for cart in cart_items %}
                <h3> {{ cart.name }} </h3><button type="submit" name="action" value="remove">Remove</button>
                <h4> {{ cart.price }} </h4>
                {% endfor %}    
            </div>
            <p>Subtotal = ${{ subtotal }}</p>
            <div> 
                <a href="{{url_for('homepage.homepage')}}" class="btn">HOMEPAGE</a>
                <a class="footer-right" href="{{url_for('checkout.checkout')}}">CHECKOUT</a>
            </div>
            
            <a href="{{ url_for('menu.menu', restaurant_id=restaurant.id) }}" class="btn">Back To Menu</a>
            
        </div>
    </body>
</html>