<!DOCTYPE html>
<html>
    <head>
        <title>Cart Page</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div>
            <h1>Cart</h1>
            
            <h1>{{ restaurant.name }} Cart</h1>
            <div class="restaurant-item"> 
                <h3>{{msg}}</h3>
                {% for cart in cart_items %}
                <h3> {{ cart.name }} </h3>
                <p> ${{ cart.price }} </p>
                <div class="button-container">
                    <form action="{{ url_for('delete_from_cart.delete_from_cart', item_id=cart.id, restaurant_id=restaurant.id) }}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                </div>
                {% endfor %}    
            </div>
            <div class="container"><h3>Subtotal: </h3></div>
            <div class="container"><p>${{ subtotal }}</p></div>
            
            <div> 
                <a  href="{{url_for('checkout.checkout', restaurant_id=restaurant.id)}}">CHECKOUT</a>
            </div>
            
            <a href="{{ url_for('menu.menu', restaurant_id=restaurant.id) }}" class="btn">MENU</a>
            
        </div>
    </body>
</html>