<!DOCTYPE html>
<html>
    <head>
        <title>Cart Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>Cart</h1>
            <div class="cart-list"> 
                {% for cart in cart_items %}
                <h3>{{ cart.name }}</h3>
                {% endfor %}
            </div>
            <p>Subtotal = ${{ subtotal }}</p>
            <a href="{{url_for('homepage.homepage')}}" class="btn">Back To Homepage</a>
            
        </div>
    </body>
</html>