<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
        <nav class="nav">
            <a class="nav" href="{{ url_for('profile.profile') }}">PROFILE</a>
            <a class="nav">{{ default_address.address if default_address else 'No default address set' }}</a>
            <form class="nav" action="{{ url_for('text_search.text_search') }}">
                <input type="search" id="restaurant" name="q"/>
                <button type="submit"disabled>Search</button>
            </form>
            <a class="nav">FILTER</a>
            <a class="nav" href="{{ url_for('logout.logout')}}">LOGOUT</a>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <div class="restaurant-list">
            {% for restaurant in restaurants %}
            <div class="restaurant-item">
                <a href="{{ url_for('menu.menu', restaurant_id=restaurant.id) }}">
                    <h2>{{ restaurant.name }}</h2>
                    <p>{{ restaurant.address }}</p>
                    <p> {{ restaurant.phone_number }} </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </body>
    <script>
        const searchForm = document.querySelector('form.nav');
        const searchInput = searchForm.querySelector('input[type="search"]');
        const searchButton = searchForm.querySelector('button[type="submit"]');
        searchForm.addEventListener('input', function() {
            searchButton.disabled = !searchInput.value.trim();
        });
    </script>
</html>