<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h1>Registration</h1>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="flashMessages">
                        {% for category, message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form id="registrationForm" method="post" action="/registration">
                <div>
                    <label>name</label>
                    <input type="text" name="name" value="{{ request.form['name'] }}"></input>
                </div>
                <br>
                <div>
                    <label>email</label>
                    <input type="text" name="email" value="{{ request.form['email'] }}"></input>
                </div>
                <br>
                <div>
                    <label>phone_number</label>
                    <input type="text" name="phone number" value="{{ request.form['phone number'] }}"></input>
                </div>
                <br>
                <div>
                    <label>password</label>
                    <input type="password" name="password" value="{{ request.form['password'] }}"></input>
                </div>
                <br>
                <div>
                    <label>address</label>
                    <input type="text" name="address" value="{{ request.form['address'] }}"></input>
                </div>
                <br>
                <div>
                    <label>payment_method</label>
                    <input type="text" name="payment method" value="{{ request.form['payment method'] }}"></input>
                </div>
                <br>
                <div>
                    <button type="submit" id="registerButton" disabled>Register</button>
                </div>
            </form>
        </div>
        <script>
            const form = document.getElementById('registrationForm');
            const registerButton = document.getElementById('registerButton');
    
            form.addEventListener('input', function() {
                let allFilled = true;
                for (const input of form.querySelectorAll('input')) {
                    if (!input.value) {
                        allFilled = false;
                        break;
                    }
                }
                registerButton.disabled = !allFilled;
            });
        </script>
    </body>

</html>